body {

}

.passInput{
    border-radius:50px;
}
.navcontainer {
    background: #E3EAEB;
}

.rol{
    width:350px;
    display:flex;
    margin-left:200px;
    margin-right:150px
}
.container{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

}
.imgLogo {
    border-radius: 15px;
}
btnenviar{
    border-radius:15px;

}